BOT_TOKEN=8500994183:AAFuJAtatem_2olCueCceAPi9QxMOL08_EE
FLYER_KEY=FL-eliuMo-kzwWnO-uvimwU-UOfqjW
ADMIN_IDS=548858090

# экономика (внутренние баллы)
DEFAULT_TASK_REWARD=0.25
REF_BONUS=2
DAILY_BONUS=1
MIN_WITHDRAW=15
